<div class="row">
  <% @categories.each do |category| %>
    <%= render 'category', category: category %>
  <% end %>
</div>

<div class="row">
  <%= paginate @categories, :theme => 'twitter-bootstrap-3'%>
</div>
