<div class="row">
  <% @products.each do |product| %>
    <%= render 'products/product', product: product %>
  <% end %>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <%= paginate @products, :theme => 'twitter-bootstrap-3'%>
  </div>
</div>
