<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_url %>">Home</a>
  <% if @cart.present? %>
    <a class="navbar-brand" href="<%= cart_path(@cart) %>">Cart</a>
  <% end %>
  <% if current_user.present? %>
    <a class="navbar-brand" href="/histories">My history</a>
    <p class="navbar-text navbar-right"><a href="<%= destroy_user_session_path()%>" data-method='delete' class="navbar-link">Logout</a></p>
    <p class="navbar-text navbar-right"><a href="<%= user_path(current_user) %>" class="navbar-link">Me</a></p>
  <% end %>
</nav>
